@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/Merriweather/Merriweather-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("../fonts/Merriweather/Merriweather-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/GolosText/GolosText-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("../fonts/GolosText/GolosText-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url("../fonts/GolosText/GolosText-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("../fonts/GolosText/GolosText-Bold.woff2") format("woff2");
}